body{
    background-color: rgb(228, 236, 226);
    padding-left: 90px;
    padding-right: 90px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
figure{
    margin: 0;
    padding: 0;
}
.noticias :hover{
    background-color: darkcyan;
    cursor: pointer;
}
.noticias{
    background-color: cadetblue;
    display: inline-block;
    padding: 20px;
    margin: 10px;
    text-align: center;
   
}
.titulos{
    background-color: rgb(95, 160, 140);
}
.maisInfo{
    text-align: left;
    background-color: darkcyan;
}